*.iml
/local.properties
**/.idea
**/.gradle
.DS_Store
/TripAdvisor.Phone/build
/TripAdvisor.Phone/captures
/TripAdvisor.Phone/.externalNativeBuild
/TripAdvisor.Phone/.cxx
/TripAdvisor.Phone/local.properties
/TripAdvisor.Server/.vscode
