*.iml
/local.properties
/TripAdvisor.Phone/.idea/workspace.xml
/TripAdvisor.Phone/.idea/tasks.xml
**/.gradle
.DS_Store
/TripAdvisor.Phone/build
/TripAdvisor.Phone/captures
/TripAdvisor.Phone/.externalNativeBuild
/TripAdvisor.Phone/.cxx
/TripAdvisor.Server/.vscode
